body {
  background-color: #f0feff;
  color: #ccc;
  font-family: monospace;
  font-size: 16px;
}

.logo {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 84px;
  font-weight: 900;
  letter-spacing: 6px;
  color: white;
  -webkit-text-stroke: 4px #e46b8c;
  text-shadow: 10px 10px 0 #e46b8c;
  margin-bottom: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}
.box-1 {
  flex: 2;
  height: 100px;
  margin-left: 20px;
}
.box-2 {
  flex: 3;
  height: 100px;
}
.box-3 {
  flex: 1;
  height: 100px;
}

.logoLille {
  position: fixed;
  right: 35px;
  bottom: 25px;
  width: 60px;
  height: auto;
  opacity: 0, 9;
  pointer-events: none;
}

.genre-grid {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
