body {
  background-color: #f0feff;
  color: #ccc;
  font-family: monospace;
  font-size: 16px;
}

.logo {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 84px;
  font-weight: 900;
  letter-spacing: 6px;
  color: white;
  -webkit-text-stroke: 4px #e46b8c;
  text-shadow: 10px 10px 0 #e46b8c;
  margin-bottom: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}
.box-1 {
  flex: 2;
  height: 100px;
  margin-left: 20px;
}
.box-2 {
  flex: 3;
  height: 100px;
}
.box-3 {
  flex: 1;
  height: 100px;
}

.logoLille {
  position: fixed;
  right: 35px;
  bottom: 25px;
  width: 60px;
  height: auto;
  opacity: 0, 9;
  pointer-events: none;
}

.genre-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.genre-grid button {
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 60px;
  cursor: pointer;
  transition: 0.2s;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.box-1,
.box-2,
.box-3 {
  height: 100px;
}

.box-1,
.box-2,
.box-3 {
  height: auto;
}

.genre-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.genre-box {
  cursor: pointer;
}

.genre-box input {
  display: none;
}

.genre-btn {
  display: block;
  padding: 26px;
  text-align: center;
  border-radius: 20px;
  background: #f1f1f1;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s;
}

.genre-box input:checked + .genre-btn {
  background: #e46b8c;
  color: white;
}
