body {
  background-color: #f0feff;
  color: #ccc;
  font-family: monospace;
  font-size: 16px;
}

body {
  margin: 0;
  background: #f0feff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.headline {
  width: 100%;
  max-width: 1200px;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.logo {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 84px;
  font-weight: 900;
  letter-spacing: 6px;
  color: white;
  -webkit-text-stroke: 4px #e46b8c;
  text-shadow: 10px 10px 0 #e46b8c;
  margin-bottom: 40px;
}

.logoLille {
  position: fixed;
  right: 35px;
  bottom: 25px;
  width: 60px;
  height: auto;
  opacity: 0, 9;
  pointer-events: none;
}

h2 {
  text-align: right;
}
