.logo {
    font-family: 'Lilita One', sans-serif; 
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 4px;
    color: #ffffff; 
    text-transform: uppercase;

    /* Pink outline */
    -webkit-text-stroke: 3px #e94c85;

    /* 3D shadow */
    text-shadow: 
        3px 3px 0 #e94c85,
        6px 6px 0 #d84075,
        9px 9px 0 #c73767;

    display: inline-block;
}

body {
    background: #f0feff
}

.qr {
    position: absolute;
    right: 60px;
    top: 140px;
}

.qr-code {
    width: 250px;
    height: 250px;
    display: block;
    background: #f0feff;
    padding: 5px;
    border-radius: 4px;
}

.corner-logo {
    position: fixed;
    right: 35px;
    bottom: 25px;
    width: 60px;
    height: auto;
    opacity: 0,9;
    pointer-events: none;
}

.vibe-box {
    position: absolute;
    left: 40px;
    bottom: 220px;
}

.vibe-title {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 900;
    margin: 0 0 15px 0;
    color: #000;
    letter-spacing: 1px;
}

.genre-bottom {
    font-family: sans-serif;
    font-size: 22px;
    padding: 14px 26px;
    background: #e7e7e7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    color: #000;
    letter-spacing: 1px;
}

.genre-bottom:hover {
    background: #dcdcdc; 
}