.container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  padding: 0 40px;
}

.box-1 {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-2 {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-3 {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  text-align: center;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 6px;
  color: white;
  -webkit-text-stroke: 4px #e46b8c;
  text-shadow: 7px 7px 0 #e46b8c;
  margin-bottom: 40px;
  font-family: monospace;

  display: inline-block;
}

body {
  background: #f0feff;
}

/* QR-kode helt øverst til højre */
.qr {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20;
}

.qr-code {
  width: 180px;
  height: 180px;
  background: #f0feff;
  padding: 5px;
  border-radius: 4px;
  display: block;
}

.corner-logo {
  position: fixed;
  right: 35px;
  bottom: 25px;
  width: 60px;
  height: auto;
  opacity: 0.9;
  pointer-events: none;
}

.people-logo {
  position: fixed;
  left: 200px;
  top: 18%;
  width: 60px;
  height: 60px;
}

#player-container {
  width: 100%;
  background: #f0feff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 40px auto;
  margin-top: 100px;
}

#song-info {
  font-size: 35px;
  transition: opacity 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  line-height: 1.2;
  margin-top: 15px;
  padding: 6px 10px;
  font-family: "Inter", "Helvetica Neue", sans-serif;
}

.artist {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #666;
  margin-top: 5px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}

.title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -0.5px;
  color: #222;
  opacity: 0.9;
}

.artist,
.title {
  animation: fadeIn 0.6s ease;
}

#progress-bar {
  width: 100%;
  height: 14px;
  background: #e94c85;
  border-radius: 8px;
  overflow: hidden;
  margin: 12px 0;
}

#progress-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, limegreen, yellow);
}

#time-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.vibe-box {
  position: absolute;
  left: 40px;
  bottom: 220px;
}

.vibe-title {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 900;
  margin: 0 0 15px 0;
  color: #000;
  letter-spacing: 1px;
}

.genre-button {
  font-family: sans-serif;
  font-size: 22px;
  padding: 14px 26px;
  background: #e7e7e7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: #000;
  letter-spacing: 1px;
}

.genre-button:hover {
  background: #dcdcdc;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  display: none;
  z-index: 10;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: white;
  width: 1000px;
  height: 750px;
  padding: 0;
  width: 85vw;
  max-width: 1300px;
  max-height: 150vh;
  overflow-y: auto;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  display: none;
  z-index: 11;
  transition: transform 0.35s ease, opacity 0.35s ease;
  opacity: 0;
}

.popup-frame {
  width: 100%;
  height: 100%;
  border: none;
}

.popup.show {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.open-popup-btn {
  padding: 12px 22px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background: #e7e7e7;
  cursor: pointer;
}

.popup .close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease;
}

.popup .close-btn:hover {
  color: #000000;
}

.party-code-container {
  text-align: left;
  margin: 10px 0;
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 6px;
  color: white;
  -webkit-text-stroke: 2px #e46b8c;
  text-shadow: 3px 3px 0 #e46b8c;
  margin-bottom: 40px;
  font-family: monospace;
}

.party-code {
  font-family: bungee "Segoe UI";
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 3px;
  display: none;
}

.member-count-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 0;
}

.member-icon {
  font-size: 30px;
}

.member-count {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
  padding: 5px 15px;
  border-radius: 20px;
  min-width: 40px;
  text-align: center;
}

#genre-chart-wrapper {
  width: clamp(150px, 15vw, 250px);
  margin: 20px auto;
  text-align: center;
  margin-bottom: 2px;
}

.queue-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background: #f0feff;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 85px;
}

.queue-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.queue-item {
  margin-bottom: 8px;
  font-size: 14px;
}
