.logo {
    font-family: 'Lilita One', sans-serif; 
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 4px;
    color: #ffffff; 
    text-transform: uppercase;

    /* Pink outline */
    -webkit-text-stroke: 3px #e94c85;

    /* 3D shadow */
    text-shadow: 
        3px 3px 0 #e94c85,
        6px 6px 0 #d84075,
        9px 9px 0 #c73767;

    display: inline-block;
}

body {
    background: #f0feff
}

.qr {
    position: absolute;
    right: 60px;
    top: 140px;
}

.qr-code {
    width: 250px;
    height: 250px;
    display: block;
    background: #f0feff;
    padding: 5px;
    border-radius: 4px;
}

.corner-logo {
    position: fixed;
    right: 35px;
    bottom: 25px;
    width: 60px;
    height: auto;
    opacity: 0.9;
    pointer-events: none;
}

.vibe-box {
    position: absolute;
    left: 40px;
    bottom: 220px;
}

.vibe-title {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 900;
    margin: 0 0 15px 0;
    color: #000;
    letter-spacing: 1px;
}

.genre-button {
    font-family: sans-serif;
    font-size: 22px;
    padding: 14px 26px;
    background: #e7e7e7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    color: #000;
    letter-spacing: 1px;
}

.genre-button:hover {
    background: #dcdcdc; 
}

.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(6px);
    display: none;
    z-index: 10;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: white;
    width: 1000px;
    height: 750px;
    padding: 0;
    width: 85vw;
    max-width: 1300px;
    max-height: 150vh;
    overflow-y: auto;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    display: none;
    z-index: 11;
    transition: transform 0.35s ease, opacity 0.35s ease;
    opacity: 0;

}

.popup-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.popup.show {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.open-popup-btn {
    padding: 12px 22px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background: #e7e7e7;
    cursor: pointer;
}

.popup .close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    transition: color 0.2s ease;
}

.popup .close-btn:hover {
    color: #000;
}